/* 09. award */
.award{
    &__area{
        @media #{$xs}{
            padding-top: 60px;
            padding-bottom: 15px;
        }
    }
    &__left{
        position: relative;
        padding-top: 30px;
        @media #{$md,$xs}{
            padding-right: 0;
        }
        &::before, &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 60px;
            background: #df3940;
            top: 0;
            left: 0;
        }
        &::after {
            left: 70px;
            width: 20px;
        }
        & h3{
            font-size: 50px;
            color: #ffffff;
            text-transform: uppercase;
            line-height: 1.2;
            margin-bottom: 73px;
            @media #{$lg,$md,$xs}{
                margin-bottom: 33px;
            }
            @media #{$md}{
                font-size: 48px;
            }
            @media #{$xs}{
                font-size: 23px;
            }
        }
    }
    &__right{
        margin-top: 32px;
        @media #{$xs}{
            margin-top: 0;
        }
    }
    &__item{
        padding-right: 30px;
        & h4{
            font-size: 24px;
            color: $white;
            margin-bottom: 20px;
            text-transform: uppercase;
            @media #{$xs}{
                font-size: 20px;
            }
        }
        & p{
            color: #9cc5e2;
        }
        &.white{
            & p{
                color: #d0d0d0;
            }
        }
    }
    &__back-text{
        position: absolute;
        top: -20px;
        left: 0;
        right: 0;
        text-align: center;
        @media #{$laptop,$lg}{
            top: 40px;
        }
        @media #{$md}{
            top: 60px;
        }
        @media #{$xs}{
            display: none;
        }
        & span{
            font-size: 350px;
            font-family: "Oswald", sans-serif;
            color: transparent;
            text-transform: uppercase;
            -webkit-text-stroke: 2px rgba(255, 255, 255, 0.05);
            letter-spacing: -13px;
            @media #{$laptop,$lg}{
                font-size: 190px;
            }
            @media #{$md}{
                font-size: 150px;
            }
        }
    }
}