// Font Family
$oswald: 'Oswald', sans-serif;;
$karla: 'Karla', sans-serif;

// Colors ---------------
$white: #ffffff;
$black: #000;
$dark:#111111;
$grey:#dbe3e9;
$red:#df3940;
$theme-color: #07395c;
$body-text-color: #28638c;
$hr-border-color:#eceff8;


// Heading Color
$heading-color: #07395c;

// Soft color
$black-soft:#7e7e7e;


// Responsive Variables
$laptop: 'only screen and (min-width: 1200px) and (max-width: 1600px)';
$lg : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$xs:'(max-width: 767px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';

